# Deny access to all files by default
<Files *>
    Order Deny,Allow
    Deny from all
</Files>

# Allow access to index.php
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

# Allow access to action.php
<Files action.php>
    Order Allow,Deny
    Allow from all
</Files>

# Deny directory browsing
Options -Indexes

# Deny access to .htaccess itself
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>
