# Prevent script execution in the uploads directory
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|pht|shtml|htm|html|cgi|pl|py|asp|aspx|jsp|sh|bash|bat|exe|dll)$">
    Order deny,allow
    Deny from all
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>